extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  script(src='javascript/index.js')
  link(href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Barlow', rel='stylesheet')

  div.container
    h1.header Welcome to #{title}

    p.subHeader Here you can upload data sets to find other data sets with similar trends

    div#accordion.section
      a.accordionHeader View
      div.accordionSection
        form(action='/viz', method='get')
          div.form_group
            label(for='trend') Data Set
            <br />
            select.trend(name='trend')
              option(value='test1') Test 1
          div.form_group
            button.form_submit View Similar Trends

      a.accordionHeader Upload

      div#uploadContainer.container.accordionSection(style='display: none')
        form(action='/upload', method='post', enctype='multipart/form-data')
         
          div.form_group
            label(for='file') File
            <br />
            input.file(type='file', name='file')
          div.form_group
            label(for='title') Title
            <br />
            input.title(type='text', name='title')
          div.form_group
            button.form_submit Submit
