body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.error
	padding: 20px
	background-color: #f45c42
	display: flex
	justify-content: center
	align-items: center
	color: black
	font-size: 32px