path
  stroke: steelblue
  stroke-width: 1
  fill: none
.axis
  shape-rendering: crispEdges
.x.axis line
  stroke: lightgrey
.x.axis .minor
  stroke-opacity: .5
.x.axis path
  display: none
.y.axis line, .y.axis path
  fill: none
  stroke: #000
#graph 
  width: 90%
  margin: 0 auto
  overflow-x: auto

#legend
  position: absolute
  top: 30%
  right: 20%
  background-color: white
#legend p
  margin: 0px
#baseTrend
  color: #0066cc
#targetTrend
  color: orange
.back
  position: absolute
  top: 90px
  left: 90px